{% extends "appbuilder/base.html" %}
{% import 'appbuilder/general/lib.html' as lib %}
{% block head_css %}
    {{ super() }}
    <link rel="stylesheet" href="{{url_for('static',filename='assets/node_modules/bootstrap-table/dist/bootstrap-table.min.css')}}"></link>
    <link rel="stylesheet" href="{{url_for('static',filename='assets/node_modules/jquery-file-upload/css/uploadfile.css')}}"></link>
    <style type="text/css">
    	label.error{
    		color:red;
    		margin-left: 10px;
    	}
    </style>
{% endblock %}

{% block content %}
	{{ lib.panel_begin('Flow Through Activity Pattern') }}
		<div class="panel panel-default">
		  <div class="panel-heading" style="background-color: #dff0d8;">Query Area</div>
		  <div class="panel-body">
		    <form id="highRiskCtyForm">
		        <div class="form-group form-inline">
		            <div class="col-md-2 input-group"><label for="reportPath">Choose your data file</label><a href="../../static/csv/rules/Trans_Min_High_Risk_Transfer.xlsx" target="_blank" id="filelink">Sample File</a></div>
		            <div class="col-md-4 input-group" id="reportPath" data-keyname={{keyname}}>Upload</div>
		            <div class="col-md-12 input-group"><font color='red'> * Upload CSV file with Following data elements in the specific sequence : [ACCOUNT_KEY,YearMonth,TRANS_AMT,SD of 6 Month,Mean of 6 Month,Credit+TRANS_CNT,Credit+TRANS_AMT,Debit+TRANS_CNT,Debit+TRANS_AMT,outlier]</font></div>		            
		        </div>		        
		        <div class="form-group form-inline">
		            <div class="col-md-2 input-group"><label for="amtThreshNum">Amount Threshold</label></div>
		            <div class="col-md-4 input-group">
		            	<input class="form-control" type="number" class="" maxlength="8" id="amtThreshNum" name="amtThreshNum" placeholder="1000" value="1000">
		            </div>
		        </div>
		        <div class="form-group form-inline">
		            <div class="col-md-2 input-group"><label for="minSD">Lower Ratio</label></div>
		            <div class="col-md-4 input-group">
		            	<input class="form-control" type="number" class="" maxlength="8" id="lowerRatio" name="lowerRatio" placeholder="90" value="90">
		            </div>
		        </div>
		        <div class="form-group form-inline">
		            <div class="col-md-2 input-group"><label for="yearMon">Upper Ratio</label></div>
		            <div class="col-md-4 input-group">
		            	<input class="form-control" type="number" class="" maxlength="6" id="upperRatio" name="upperRatio" placeholder="110" value="110">
		            </div>
		        </div>
		        <div class="form-group form-inline">
		        	<div class="col-md-offset-2 col-md-2 input-group">
		            	<button type="submit" class="btn btn-primary">Submit</button>
		        	</div>
		        </div>
		    </form>
		  </div>
		</div>

		<div class="panel panel-default">
		  <div class="panel-heading" style="background-color: #dff0d8;">Scatter Plot</div>
		  <div class="panel-body">
		    <div class="row">
		        <div id="scatterChart" style="height:600px"></div>
		    </div>
		  </div>
		</div>

		<div class="panel panel-default">
		  <div class="panel-heading" style="background-color: #dff0d8;">Alert Table</div>
		  <div class="panel-body">
		    <div class="row">
		        <table id="alertTable" data-show-export="true"></table>
		    </div>
		  </div>
		</div>

	{{ lib.panel_end() }}
{% endblock %}

{% block tail_js %}
	  {{super()}}
    <script type="text/javascript">
      $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
    </script>
    <script src="{{url_for('static',filename='assets/node_modules/bootstrap-table/dist/bootstrap-table.min.js')}}"></script>
    <script src="{{url_for('static',filename='assets/node_modules/bootstrap-table/dist/extensions/export/bootstrap-table-export.min.js')}}"></script>
    <script src="//rawgit.com/hhurz/tableExport.jquery.plugin/master/tableExport.js"></script>
    <script src="{{url_for('static',filename='assets/node_modules/jquery-file-upload/js/jquery.uploadfile.js')}}"></script>
    <script src="{{url_for('static',filename='assets/node_modules/jquery-validation/dist/jquery.validate.js')}}"></script>
    <script src="{{url_for('static',filename='assets/node_modules/echarts/dist/echarts.min.js')}}"></script>    
    <script src="{{url_for('static',filename='assets/javascript/rules/rule_high_risk_flowthrough.js')}}"></script>
{% endblock %}