{% extends "appbuilder/base.html" %}
{% import 'appbuilder/general/lib.html' as lib %}
{% block head_css %}
    {{ super() }}
    <link rel="stylesheet" href="{{url_for('static',filename='assets/css/mask.css')}}"></link>
    <link rel="stylesheet" href="{{url_for('static',filename='assets/node_modules/bootstrap-table/dist/bootstrap-table.min.css')}}"></link>
    <link rel="stylesheet" href="{{url_for('static',filename='assets/node_modules/jquery-file-upload/css/uploadfile.css')}}"></link>
    <style type="text/css">
    	label.error{
    		color:red;
    		margin-left: 10px;    		
    	}
    </style>
{% endblock %}

{% block content %}
	<div class="panel panel-primary">
		<div class="panel-heading">
			<h4 class="panel-title">Activity Limit : {{rulename}}
				<a href="/trans/category" style="float:right" title="Back"><i class="fa fa-arrow-left" style="font-size:20px;"></i></a>
			</h4>
		</div>
		<div class="panel panel-default">
		  <div class="panel-heading" style="background-color: #dff0d8;">Select Data From Data Center for Analysis</div>
		  <div class="panel-body">
		    <form id="highRiskCtyForm">
		        <div id="reportPath" data-keyname={{keyname}} class="form-group form-inline">
		            <div class="col-md-3 input-group"><label for="dataId">Input Data Id</label></div>
		            <div class="col-md-2 input-group">
		            	<input class="form-control" type="number" class="" maxlength="8" id="dataId" name="dataId" placeholder="1" value="1">
		            </div>
		        </div>
		        <div class="form-group form-inline">
		            <div class="col-md-3 input-group"><label for="custType">Customer Type</label></div>
		            <div class="col-md-2 input-group">
		            	<select class="form-control" id="custType">
		            	  <option value="All" {{'selected' if customertype=='All'}}>All</option>
						  <option value="B" {{'selected' if customertype=='B'}}>Business</option>
						  <option value="I" {{'selected' if customertype=='I'}}>Individual</option>
						</select>
		            </div>
		            <div class="col-md-1 input-group"></div>
		            <div class="col-md-3 input-group"><label for="custRLel">Customer Risk Level</label></div>
		            <div class="col-md-2 input-group">
		            	<select class="form-control" id="custRLel">
		            	  <option value="All" {{'selected' if customerrisklevel=='All'}}>All</option>
						  <option value="High" {{'selected' if customerrisklevel=='High'}}>High</option>
						  <option value="Medium" {{'selected' if customerrisklevel=='Medium'}}>Medium</option>
						  <option value="Low" {{'selected' if customerrisklevel=='Low'}}>Low</option>
						</select>
		            </div>
		        </div>		        
		        <div class="form-group form-inline">
		            <div class="col-md-3 input-group"><label for="amtThreshNum">Current Amount Threshold</label></div>
		            <div class="col-md-2 input-group">
		            	<input class="form-control" type="number" class="" maxlength="8" id="amtThreshNum" name="amtThreshNum" placeholder="1000" value="1000">
		            </div>
		            <div class="col-md-1 input-group"></div>
		            <div class="col-md-3 input-group"><label for="amtThreshNum2">Testing Amount Threshold</label></div>
		            <div class="col-md-2 input-group">
		            	<input class="form-control" type="number" class="" maxlength="8" id="amtThreshNum2" name="amtThreshNum2" placeholder="10000" value="10000">
		            </div>
		        </div>
		        <div class="form-group form-inline">
		            <div class="col-md-3 input-group"><label for="cntThreshNum">Current Count Threshold</label></div>
		            <div class="col-md-2 input-group">
		            	<input class="form-control" type="number" class="" maxlength="8" id="cntThreshNum" name="cntThreshNum" placeholder="5" value="5">
		            </div>
		            <div class="col-md-1 input-group"></div>
		            <div class="col-md-3 input-group"><label for="cntThreshNum2">Testing Count Threshold</label></div>
		            <div class="col-md-2 input-group">
		            	<input class="form-control" type="number" class="" maxlength="8" id="cntThreshNum2" name="cntThreshNum2" placeholder="10" value="10">
		            </div>
		        </div>
		        <div class="form-group form-inline">
		            <div class="col-md-3 input-group"><label for="circleName">Cycle Name</label></div>
		            <div class="col-md-2 input-group">
		            	<input class="form-control" type="text" class="" maxlength="20" id="circleName" name="circleName" value="cycle1">
		            </div>
		            <div class="col-md-1 input-group"></div>
		            <div class="col-md-3 input-group"><label for="runName">Run Name</label></div>
		            <div class="col-md-2 input-group">
		            	<input class="form-control" type="text" class="" maxlength="20" id="runName" name="runName" value="run1">
		            </div>
		        </div>
		        <div class="form-group form-inline">
		        	<div class="col-md-offset-5 col-md-2 input-group">
		            	<button type="submit" class="btn btn-primary">Submit</button>
		        	</div>
		        </div>
		    </form>
		  </div>
		</div>

		<div class="panel panel-default">
		  <div class="panel-heading" style="background-color: #dff0d8;">Statistics on Data</div>
		  <div class="panel-body">
		  	<div class="form-group form-inline">
	            <div class="col-md-2 input-group"><label for="crDb">Credit or Debit</label></div>
	            <div class="col-md-4 input-group">
	            	<select class="form-control" id="crDb">
					  <option value="Credit">Credit</option>
					  <option value="Debit" selected="selected">Debit</option>
					</select>
	            </div>		            
	        </div>
		  	<div class="form-group form-inline">
	            <div class="col-md-2 input-group"><label for="isOutlier">Include Outlier</label></div>
	            <div class="col-md-4 input-group">
	            	<select class="form-control" id="isOutlier">
					  <option value="1" selected="selected">Yes</option>
					  <option value="0">No</option>
					</select>
	            </div>		            
		    </div>		    
		    <div class="row">
		        <table id="statisticsTable"></table>
		    </div>
		    <div class="row">
		        <div class="col-md-6" id="percentileAmountChart" style="height:600px"></div>
		        <div class="col-md-6" id="percentileCountChart" style="height:600px"></div>
		    </div>
		  </div>
		</div>

		<div class="panel panel-default">
		  <div class="panel-heading" style="background-color: #dff0d8;">Scatter Plot</div>
		  <div class="panel-body">
		    <div class="row">
		        <div id="scatterChart" style="height:600px"></div>
		    </div>
		    <div class="row">
		        <div class="col-md-3" id="run1CntChart" style="height:300px"></div>
		        <div class="col-md-3" id="run1AmtChart" style="height:300px"></div>
		        <div class="col-md-3" id="run2CntChart" style="height:300px"></div>
		        <div class="col-md-3" id="run2AmtChart" style="height:300px"></div>
		    </div>
		  </div>

		</div>

		<div class="panel panel-default">
		  <div class="panel-heading" style="background-color: #dff0d8;">Output Results</div>
		  <div class="panel-body">

		    <div class="row">
		    	<h4>Statistics:</h4>
		    </div>
		    <div class="row">
		    	<table class="table table-hover">
		    		<thead>
		    			<tr >
		    				<td>#</td>
		    				<td>Run1 Count</td>
		    				<td>Run1 Percent</td>
		    				<td>Run2 Count</td>
		    				<td>Run2 Percent</td>
		    			</tr>		    			
		    		</thead>
		    		<tbody>
		    			<tr>
		    				<td>Total Customer</td>
		    				<td id="run1Cust">-</td>
		    				<td>-</td>
		    				<td id="run2Cust">-</td>
		    				<td></td>
		    			</tr>
		    			<tr>
		    				<td>Total Customer Alerted</td>
		    				<td id="run1CustAlerted">-</td>
		    				<td id="run1CustAlertedPer">-</td>
		    				<td id="run2CustAlerted">-</td>
		    				<td id="run2CustAlertedPer">-</td>
		    			</tr>
		    			<tr>
		    				<td>Total Customer Not Alerted</td>
		    				<td id="run1CustNotAlerted">-</td>
		    				<td id="run1CustNotAlertedPer">-</td>
		    				<td id="run2CustNotAlerted">-</td>
		    				<td id="run2CustNotAlertedPer">-</td>
		    			</tr>
		    		</tbody>
		    	</table>
		    </div>
		    <div class="row">
		    	<label class="col-md-3 control-label">Run2 Customers missed from Run1</label><div class="col-md-2"><a id="missCust" href="javascript:void(0)" class="note" >-</a></div>
		    </div>

		    <div class="row">
		    	<div id="toolbar" style="margin-bottom: -45px;">
				  <button id="crtAlertBtn" class="btn btn-danger" disabled>
				    <i class="glyphicon glyphicon-transfer"></i>Alerts - Send to Quanlitative
				  </button>
				</div>
		        <table id="alertTable" data-show-export="true" data-page-list="[10, 25, 50, 100, ALL]"></table>
		    </div>

		  </div>
		</div>

		<div class="modal fade" id="alertModal" tabindex="-1" role="dialog">
		  <div class="modal-dialog" role="document">
		    <div class="modal-content">
		      <div class="modal-header">
		        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
		        <h4 class="modal-title">Notice</h4>
		      </div>
		      <div class="modal-body">
		        <p><span id="alertNum" style="color:red"></span> Output Results sent to Quanlitative!</p>
		      </div>
		      <div class="modal-footer">
		        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
		      </div>
		    </div><!-- /.modal-content -->
		  </div><!-- /.modal-dialog -->
		</div><!-- /.modal -->

		
		<div class="modal fade" id="missingModal" tabindex="-1" role="dialog">
		  <div class="modal-dialog" role="document">
		    <div class="modal-content">
		      <div class="modal-header">
		        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
		        <h4 class="modal-title">Missing Accounts</h4>
		      </div>
		      <div class="modal-body">
<!-- Nav tabs -->
		          <ul id="missingTabs" class="nav nav-tabs" role="tablist">
		            <li role="presentation" class="active"><a href="#aRose" aria-controls="aRose" role="tab" data-toggle="tab">Nightingale's Rose Diagram</a></li>
		            <li role="presentation" ><a href="#aTable" aria-controls="aTable" role="tab" data-toggle="tab">Table of Missing Accounts</a></li>
		          </ul>
		          <div class="tab-content">
		            <div role="tabpanel" class="tab-pane active" id="aRose">   
		            	<div id="missChart" style="width:600px,height:400px"></div>           
		            </div>

		            <div role="tabpanel" class="tab-pane" id="aTable"> 
		              <div class="row">
		                  <table id="missingTable" data-show-export="true" data-page-list="[10, 25, 50, 100, ALL]"></table>
		              </div>             
		            </div>
		          </div> 


		      </div>
		      <div class="modal-footer">
		        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
		      </div>
		    </div><!-- /.modal-content -->
		  </div><!-- /.modal-dialog -->
		</div><!-- /.modal -->

		<div id="mask"></div>

	</div>
{% endblock %}

{% block tail_js %}
	  {{super()}}
    <script type="text/javascript">
      $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
    </script>
    <script src="{{url_for('static',filename='assets/node_modules/bootstrap-table/dist/bootstrap-table.min.js')}}"></script>
    <script src="{{url_for('static',filename='assets/node_modules/bootstrap-table/dist/extensions/export/bootstrap-table-export.min.js')}}"></script>
    <script src="//rawgit.com/hhurz/tableExport.jquery.plugin/master/tableExport.js"></script>
    <script src="{{url_for('static',filename='assets/node_modules/jquery-file-upload/js/jquery.uploadfile.js')}}"></script>
    <script src="{{url_for('static',filename='assets/node_modules/jquery-validation/dist/jquery.validate.js')}}"></script>
    <script src="{{url_for('static',filename='assets/node_modules/echarts/dist/echarts.min.js')}}"></script>
    <script src="{{url_for('static',filename='assets/3rd_party/layer/layer.js')}}"></script>    
    <script src="{{url_for('static',filename='assets/3rd_party/validate/validate-ext.js')}}"></script>
    <script src="{{url_for('static',filename='assets/javascript/rules/rule_high_risk_volume.js')}}"></script>
{% endblock %}