{% extends "appbuilder/base.html" %}
{% import 'appbuilder/general/lib.html' as lib %}
{% block head_css %}
    {{ super() }}
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css">
    <link rel="stylesheet" href="{{url_for('static',filename='assets/3rd_party/mdb/css/mdb.min.css')}}"></link>
    <link rel="stylesheet" href="{{url_for('static',filename='assets/css/conflict.css')}}"></link>
    <link rel="stylesheet" href="{{url_for('static',filename='assets/css/bootstrap4.css')}}"></link>
{% endblock %}
{% block content %}

<div class="panel panel-primary">
  <div class="panel-heading">
      <h3 class="panel-title">Transaction Monitoring</h3>
  </div>
  <div class="panel-body">

  <!-- Card -->
  <div class="card card-image" style="background-image: url(https://mdbootstrap.com/img/Photos/Horizontal/Work/4-col/img%20%2814%29.jpg);">

    <!-- Content -->
    <div class="rgba-black-strong py-5 px-4">
      <div class="row d-flex justify-content-center">
        <div class="col-md-10 col-xl-8">

          <!--Accordion wrapper-->
          <div class="accordion md-accordion accordion-5" id="accordionEx5" role="tablist" aria-multiselectable="true">

            {% for key,vals in rules.items() %}

            <!-- Accordion card -->
            <div class="card mb-4">

              <!-- Card header -->
              <div class="card-header p-0 z-depth-1" role="tab" id="heading{{loop.index}}">
                <a data-toggle="collapse" data-parent="#accordionEx5" href="#collapse{{loop.index}}" aria-expanded="{{'true' if loop.index==1 else 'false'}}""
                  aria-controls="collapse{{loop.index}}">
                  <i class="fas fa-cloud fa-2x p-3 mr-4 float-left black-text" aria-hidden="true"></i>
                  <h4 class="text-uppercase white-text mb-0 py-3 mt-1">
                    {{key|e}}
                  </h4>
                </a>
              </div>

              <!-- Card body -->
              <div id="collapse{{loop.index}}" class="collapse {{'in' if loop.index==1 else ''}}" role="tabpanel" aria-labelledby="heading{{loop.index}}" data-parent="#accordionEx5">
                <div class="card-body rgba-black-light white-text z-depth-1">                  
                    <p class="p-md-4 mb-0" style="padding: 1.5rem;font-size: 1.5rem">
                      {% for rule in vals %}
                        {{rule.rule_description_short}}</br>
                      {% endfor %}
                    </p>
                </div>
              </div>
            </div>
            <!-- Accordion card -->

            {% endfor%}

          </div>
          <!--/.Accordion wrapper-->

        </div>
      </div>
    </div>
    <!-- Content -->
  </div>
  <!-- Card -->



  </div>
</div>


{% endblock %}
{% block tail_js %}
	{{super()}}
    <script type="text/javascript">
      $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
    </script>
    <script src="{{url_for('static',filename='assets/3rd_party/mdb/js/mdb.min.js')}}"></script>
{% endblock %}