{% extends "appbuilder/base.html" %}
{% import 'appbuilder/general/lib.html' as lib %}

{% block content %}
<div class="panel panel-primary">
  <div class="panel-heading">
      <h4 class="panel-title">{{title}}
        <a href="/" style="float:right" title="return home"><i class="glyphicon glyphicon-home" style="font-size:20px;"></i></a>
      </h4>
  </div>
  <div class="panel-body">

    {% block list_search scoped %}
        {% call lib.accordion_tag("accordion1",_("Search"), False) %}
            {{ widgets.get('search')()|safe }}
        {% endcall %}
    {% endblock %}

    {% block list_list scoped %}
        <div>
        {{ widgets.get('list')()|safe }}
        </div>
    {% endblock %}
</div>

{% endblock %}
