{% extends "appbuilder/base.html" %}
{% import 'appbuilder/general/lib.html' as lib %}
{% block head_css %}
    {{ super() }}
    <link rel="stylesheet" href="{{url_for('static',filename='assets/css/mask.css')}}"></link>
    <link rel="stylesheet" href="{{url_for('static',filename='assets/node_modules/jquery-file-upload/css/uploadfile.css')}}"></link>
    <link rel="stylesheet" href="{{url_for('static',filename='assets/node_modules/bootstrap-table/dist/bootstrap-table.min.css')}}"></link>
{% endblock %}

{% block content %}
	{{ lib.panel_begin(' Upload Bank Data Files ') }}
		<div class="panel panel-default">
		  <div class="panel-heading" style="background-color: #dff0d8;">Data Transfer</div>
		  <div class="panel-body">
		    <form id="bankdataForm">
		    	<div class="form-group form-inline">
		            <div class="col-md-2 input-group"><label for="datalife">Data Lifecycle</label></div>
		            <div class="col-md-4 input-group">
		            	<select class="form-control" id="datalife">
						  <option value="M" selected="selected">Month</option>
						  <option value="D">Day</option>
						</select>
		            </div>		            
			    </div>	
			    <div class="form-group form-inline">
		            <div class="col-md-2 input-group"><label for="datarange">Data Range</label></div>
		            <div class="col-md-4 input-group">
		            	<input class="form-control" type="text" class="" maxlength="20" id="datarange" name="datarange" placeholder="201801~201806">
		            </div>
		        </div>	        
		        <div class="form-group form-inline">
		            <div class="col-md-2 input-group"><label for="oneFile">Source File upload</label></div>
		            <div class="col-md-4 input-group" id="oneFile">Upload</div>
		        </div>
		        <div class="form-group form-inline">
		            <div class="col-md-2 input-group"><label for="targetFile">Target File upload</label></div>
		            <div class="col-md-4 input-group" id="targetFile">Upload</div>
		        </div>
		    </form>
		  </div>
		</div>

		<div class="panel panel-default">
		  <div class="panel-heading" style="background-color: #dff0d8;">Upload History</div>
		  <div class="panel-body">
		    <div class="row">
		        <table id="uploadTable" data-show-export="true" data-page-list="[10, 25, 50, 100, ALL]"></table>
		    </div>
		  </div>
		</div>

		<div class="panel panel-default">
		  <div class="panel-heading" style="background-color: #dff0d8;">Data Validation</div>
		  <div class="panel-body">
			<div class="row">
	          <label class="col-md-4 control-label" style="text-align:right">Source File</label><label class="col-md-4 control-label" style="text-align:right">Target File</label>
	          <label class="col-md-4 control-label"></label>          
	        </div>
			<div class="row">
	          <label class="col-md-2 control-label"></label><label class="col-md-2 control-label">Number of Counts</label><div id="" class="col-md-2">4690843</div>
	          <label class="col-md-2 control-label">Number of Counts</label><div id="" class="col-md-2">4690843</div><label class="col-md-2 control-label"></label>
	        </div>
	        <div class="row">
	          <label class="col-md-2 control-label"></label><label class="col-md-2 control-label">Number of Trans.</label><div id="" class="col-md-2">579846</div>
	          <label class="col-md-2 control-label">Number of Trans.</label><div id="" class="col-md-2">579846</div><label class="col-md-2 control-label"></label>
	        </div>
		  </div>
		</div>
	{{ lib.panel_end() }}
{% endblock %}

{% block tail_js %}
	  {{super()}}
    <script type="text/javascript">
      $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
    </script>
    <script src="{{url_for('static',filename='assets/3rd_party/upload/tableExport.js')}}"></script>
    <script src="{{url_for('static',filename='assets/node_modules/bootstrap-table/dist/bootstrap-table.min.js')}}"></script>
    <script src="{{url_for('static',filename='assets/node_modules/bootstrap-table/dist/extensions/export/bootstrap-table-export.min.js')}}"></script>    
    <script src="{{url_for('static',filename='assets/node_modules/jquery-file-upload/js/jquery.uploadfile.js')}}"></script>  
    <script src="{{url_for('static',filename='assets/node_modules/jquery-file-upload/js/jquery.uploadfile.js')}}"></script>
    <script src="{{url_for('static',filename='assets/javascript/datacenter/bankdataTB.js')}}"></script>
{% endblock %}