{% extends "appbuilder/base.html" %}
{% import 'appbuilder/general/lib.html' as lib %}
{% block head_css %}
    {{ super() }}
    <link rel="stylesheet" href="{{url_for('static',filename='assets/css/mask.css')}}"></link>
    <link rel="stylesheet" href="{{url_for('static',filename='assets/node_modules/jquery-file-upload/css/uploadfile.css')}}"></link>
    <link rel="stylesheet" href="{{url_for('static',filename='assets/node_modules/bootstrap-table/dist/bootstrap-table.min.css')}}"></link>
    <link rel="stylesheet" href="{{url_for('static',filename='assets/node_modules/bootstrap-datepicker/dist/css/bootstrap-datepicker.min.css')}}"></link>
    <style type="text/css">
    	.venntooltip {
                    font-size : 14px;
                    position: absolute;
                    text-align: center;
                    width: 128px;
                    height: 50px;
                    background: #333;
                    color: #fff;
                    padding: 2px;  
                    border: 0px;
                    border-radius: 8px;
                    opacity: 0;
                }
    </style>
{% endblock %}

{% block content %}
	<!--{{ lib.panel_begin(' Compare Data Sets: Upload Source Data Files from you AML and Source Systems (files must be in .CSV format) ') }}-->
	<div class="panel panel-primary">
		<div class="panel-heading">
		<h4 class="panel-title">Compare Data Sets: Upload Source Data Files from you AML and Source Systems (files must be in .CSV format)
			<a href="/" style="float:right" title="return home"><i class="glyphicon glyphicon-home" style="font-size:20px;"></i></a>
		</h4>
		</div>
		<div class="panel panel-default">
		  <div class="panel-heading" style="background-color: #dff0d8;">Data Transfer</div>
		  <div class="panel-body">
		    <form id="bankdataForm">	

		        <div class="form-group form-inline">
		            <div class="col-md-2 input-group"><label for="targetFile">AML System Data File</label></div>
		            <div class="col-md-4 input-group" id="targetFile" data-targetid="">Upload</div>
		        </div>       
		        <div class="form-group form-inline">
		            <div class="col-md-2 input-group"><label for="oneFile">Source System Data File</label></div>
		            <div class="col-md-4 input-group" id="oneFile" data-sourceid="">Upload</div>
		        </div>
		        <div class="form-group form-inline">
		            <div class="col-md-2 input-group"><label for="start_date">Start Date for Data Validation</label></div>
		            <div class="col-md-4 input-group date">
					    <input type="text" class="form-control" id="start_date" name="start_date">
					</div>
		        </div>	
		        <div class="form-group form-inline">
		            <div class="col-md-2 input-group"><label for="end_date">End Date for Data Validation</label></div>
		            <div class="col-md-4 input-group date">
					    <input type="text" class="form-control" id="end_date" name="end_date">
					</div>
		        </div> 
		        <div class="form-group form-inline">
		        	<div class="col-md-offset-2 col-md-2 input-group">
		            	<button type="submit" class="btn btn-primary">Validate</button>
		        	</div>
		        </div>
		    </form>
		  </div>
		</div>

		<div class="panel panel-default">
		  <div class="panel-heading" style="background-color: #dff0d8;">Upload History & Validation Status</div>
		  <div class="panel-body">
		    <div class="row">
		        <table id="uploadTable" data-show-export="true" data-page-list="[10, 25, 50, 100, ALL]"></table>
		    </div>
		  </div>
		</div>
	</div>
	<!--{{ lib.panel_end() }}-->

	<div class="modal fade" id="sourceModal" tabindex="-1" role="dialog" data-pid=''>
	  <div class="modal-dialog" role="document">
	    <div class="modal-content">
	      <div class="modal-header">
	        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
	        <h4 id="validTitle" class="modal-title">Customer Validation Status</h4>
	      </div>
	        <div class="modal-body">

				  <!-- Nav tabs -->
		          <ul id="valiaTabs" class="nav nav-tabs" role="tablist">
		            <li role="presentation" class="active"><a href="#aVenn" aria-controls="aVenn" role="tab" data-toggle="tab">Venn Diagram</a></li>
		            <li role="presentation" ><a href="#aTable" aria-controls="aTable" role="tab" data-toggle="tab">Table of Difference</a></li>
		          </ul>
		          <div class="tab-content">
		            <div role="tabpanel" class="tab-pane active" id="aVenn">   
		            	<div id="accountChart">
			    		</div>           
		            </div>

		            <div role="tabpanel" class="tab-pane" id="aTable"> 
		              <div class="row">
		                  <table class="table table-striped">
						  	<thead>
						  		<tr>
						  			<td>#</td>
						  			<td>First Name</td>
						  			<td>Last Name</td>
						  			<td>Full Name</td>
						  		</tr>
						  	</thead>
						  	<tbody>
						  		<tr>
						  			<td>1</td>
						  			<td>Mark</td>
						  			<td>Otto</td>
						  			<td>@mdo</td>
						  		</tr>
						  		<tr>
						  			<td>2</td>
						  			<td>Jacob</td>
						  			<td>Thornton</td>
						  			<td>@fat</td>
						  		</tr>
						  		<tr>
						  			<td>3</td>
						  			<td>Larry</td>
						  			<td>Bird</td>
						  			<td>@twitter</td>
						  		</tr>
						  	</tbody>
						  </table>
		              </div>             
		            </div>
		          </div> 

	        </div>
	        <div class="modal-footer">
	          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
	        </div>
	    </div><!-- /.modal-content -->
	  </div><!-- /.modal-dialog -->
	</div><!-- /.modal -->

	<div id="mask"></div>
{% endblock %}

{% block tail_js %}
	  {{super()}}
    <script type="text/javascript">
      $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
    </script>
    <script src="{{url_for('static',filename='assets/3rd_party/d3/d3.min.js')}}"></script>
    <script src="{{url_for('static',filename='assets/3rd_party/upload/tableExport.js')}}"></script>
    <script src="{{url_for('static',filename='assets/node_modules/bootstrap-table/dist/bootstrap-table.min.js')}}"></script>
    <script src="{{url_for('static',filename='assets/node_modules/bootstrap-table/dist/extensions/export/bootstrap-table-export.min.js')}}"></script>
    <script src="{{url_for('static',filename='assets/node_modules/jquery-file-upload/js/jquery.uploadfile.js')}}"></script>  
    <script src="{{url_for('static',filename='assets/node_modules/jquery-file-upload/js/jquery.uploadfile.js')}}"></script>
    <script src="{{url_for('static',filename='assets/node_modules/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js')}}"></script>
    <script src="{{url_for('static',filename='assets/node_modules/venn.js/venn.js')}}"></script>
    <script src="{{url_for('static',filename='assets/javascript/datacenter/bankdataTB.js')}}"></script>
{% endblock %}