{% extends "appbuilder/base.html" %}
{% import 'appbuilder/general/lib.html' as lib %}
{% block head_css %}
    {{ super() }}
{% endblock %}

{% block content %}
	{{ lib.panel_begin(' Rules Configuration ') }}
		<div class="panel panel-default">
		  <div class="panel-body">

		    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
		      {% for company in companies %}
		      <div class="panel panel-default">
			    <div class="panel-heading" role="tab" id="headingOne">
			      <h4 class="panel-title">
			        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse{{loop.index}}" aria-expanded="true" aria-controls="collapseOne">
			          {{company.name}}
			        </a>
			      </h4>
			    </div>
			    <div id="collapse{{loop.index}}" class="panel-collapse collapse {{ 'in' if loop.index==1 }}" role="tabpanel" aria-labelledby="headingOne">
			      <div class="panel-body">
			        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
			      </div>
			    </div>
			  </div>
		      {% endfor%}  
			  
			</div>

		  </div>
		</div>

	{{ lib.panel_end() }}
{% endblock %}

{% block tail_js %}
	  {{super()}}
    <script type="text/javascript">
      $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
    </script>
{% endblock %}