{% extends "appbuilder/base.html" %}
{% import 'appbuilder/general/lib.html' as lib %}
{% block head_css %}
    {{ super() }}
    <link rel="stylesheet" href="{{url_for('static',filename='assets/css/mask.css')}}"></link>
{% endblock %}

{% block content %}
	{{ lib.panel_begin(' Rules Configuration ') }}
		<div class="panel panel-default">
		  <div class="panel-body">

		    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true" data-firstcom={{companies[0].id}}>
		      {% for company in companies %}
		      <div class="panel panel-default">
			    <div class="panel-heading" role="tab">
			      <h4 class="panel-title">
			        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse_{{company.id}}" aria-expanded="true" aria-controls="collapseOne">
			          {{company.name}}
			        </a>
			      </h4>
			    </div>
			    <div id="collapse_{{company.id}}" class="panel-collapse collapse {{ 'in' if loop.index==1 }}" role="tabpanel" aria-labelledby="headingOne">
			      <div class="panel-body">
			        <form class="form-horizontal" id="group_form_{{company.id}}">
					  <div class="form-group" style="display: none">
					    <label class="col-md-2 control-label">#rule_group#</label>
					    <div class="col-md-1">
					    	<div>
						        <input type="checkbox" id="#chk_id#" name="#chk_name#">
						    </div>
					    </div>					    
					    <div class="col-md-9 control-label" style="text-align: left">
							<a data-toggle="modal" data-target=".bs-example-modal-lg" href="javascript:void(0)" data-ruleid="#rule_id#">
							  #rule#
							</a>
					    </div>					    
					  </div>
					</form>
			      </div>
			    </div>
			  </div>
		      {% endfor%}  
			  
			</div>

		  </div>
		</div>

		<!-- Modal -->
		<div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" id="ruleDetailModal">
		  <div class="modal-dialog modal-lg" role="document">
		    <div class="modal-content">
		      <div class="modal-header">
		        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
		        <h4 class="modal-title" id="myModalLabel">Rule Code : #detail_rule_code#</h4>
		      </div>
		      <div class="modal-body">
		        <table class="table">
				    <thead>
				      <tr>
				        <th class="col-md-3">Title/Description</th>
				        <th class="col-md-6">Parameters</th>
				        <th class="col-md-3"></th>
				      </tr>
				    </thead>
			        <tbody>
				      <tr>
				        <td>#detail_desc#</td>
				        <td>#detail_param#</td>
				        <td>#detail_other#</td>
				      </tr>
				    </tbody>
				</table>
		      </div>
		      <div class="modal-footer">
		        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
		        <button type="button" class="btn btn-primary">Save changes</button>
		      </div>
		    </div>
		  </div>
		</div>

	{{ lib.panel_end() }}
{% endblock %}

{% block tail_js %}
	  {{super()}}
    <script type="text/javascript">
      $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};      
    </script>
    <script src="{{url_for('static',filename='assets/javascript/datacenter/rule_config.js')}}"></script>
{% endblock %}